@using System.Security.Claims
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - TiShin</title>
    <meta name="description" content="تی شین، فروشگاه آنلاین لباس زیر زنانه با طراحی‌های خاص و کیفیت بالا. انواع شورت، سوتین و لباس زیر راحتی برای هر سلیقه. به زیبایی و راحتی شما اهمیت می‌دهیم.">
    <meta name="keywords" content="لباس زیر زنانه, شورت زنانه, سوتین, فروشگاه لباس زیر, تی شین, لباس زیر راحتی, شورت و سوتین, خرید آنلاین لباس زیر, لباس زیر زنانه باکیفیت, انواع شورت زنانه, سوتین برای زنان, خرید لباس زیر اینترنتی">
    <meta name="robots" content="index, follow">
    <meta name="author" content="تی شین">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#E91E63">
    <meta name="copyright" content="تمامی حقوق متعلق به Ti-Shin است.">
    <meta property="og:title" content="تی شین - فروشگاه آنلاین لباس زیر زنانه">
    <meta property="og:description" content="خرید انواع لباس زیر زنانه شامل شورت، سوتین و لباس راحتی با بهترین کیفیت و طراحی خاص.">
    <meta property="og:image" content="URL تصویر برای نمایش پیش‌نمایش">
    <meta property="og:url" content="https://ti-shin.ir">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="تی شین - فروشگاه آنلاین لباس زیر زنانه">
    <meta name="twitter:description" content="خرید آنلاین شورت، سوتین و لباس راحتی زنانه در فروشگاه تی شین.">
    <meta name="twitter:image" content="URL تصویر برای توییتر">

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon_io/favicon-16x16.png">
    <link rel="canonical" href="https://ti-shin.ir/Categories">

    <link rel="stylesheet" href="~/js/plugin/story-player/styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/js/plugin/swiper/swiper-bundle.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="preload" href="~/fonts/payda/PeydaWebFaNum-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<body class="bg-light dark:bg-background-dark text-text-primary-light dark:text-text-primary-dark transition-colors duration-200">
    <!-- ================= start header ================= -->
    <header id="topHeader" class="py-3 dark:shadow-primary-600 dark:shadow dark:bg-background-dark sticky top-0 right-0 left-0 z-20 shadow-md bg-white">
        <div class="container">
            <!-- row top header -->
            <div class="grid place-items-center gap-3 grid-cols-12">
                <!-- respnsive menu -->
                <div class="lg:hidden col-span-4 w-full">
                    <a href="javascript:void(0)" onclick="toggleOffcanvas('offcanvas-right')">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6 dark:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                        </svg>
                    </a>
                </div>
                <!-- logo -->
                <div class="lg:col-span-2 lg:order-1 order-2 col-span-4 w-full">
                    <a href="index.html">
                        <div class="lg:text-start text-center">
                            <img class="md:h-12" src="~/images/logo/tishin.png" loading="lazy" alt="">
                        </div>
                    </a>
                </div>
                <!-- search and filter -->
                <div class="lg:col-span-6 lg:block lg:order-2 order-4 hidden col-span-4 w-full">
                    <div class="flex items-center">
                        <!-- search -->
                        <div class="relative flex items-center w-full">
                            <input type="search"
                                   class="w-full appearance-none dark:text-white rounded-3xl  border border-gray-300 py-3 pr-18 px-3 dark:placeholder-gray-400"
                                   placeholder="جستجوی محصولات ....">
                            <button class="bg-primary-grad  p-2 text-white rounded-3xl absolute right-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="size-6 dark:text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </button>
                        </div>
                        <!-- filter -->
                        <div data-modal-target="filterModal"
                             class="modal-trigger border px-2 py-1 ms-3 cursor-pointer rounded-lg border-gray-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6 dark:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                            </svg>
                            <div class="ms-2 text-center">
                                <p class="text-xs text-nowrap dark:text-white">انتخاب مکان</p>
                                <span class="text-primary text-xs text-nowrap"> فیلتر شهر</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login and basket and call and darkmode -->
                <div class="lg:col-span-4 col-span-4 order-3 w-full">
                    <div class="flex items-baseline justify-end">
                        <!-- basket and call and darkmode -->
                        <div class="flex items-baseline md:me-5 me-2">
                            <!-- call -->
                            <a href="" class="lg:block hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="size-6 dark:text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                                </svg>
                            </a>
                            <!-- basket -->
                            <div onclick="toggleOffcanvas('offcanvas-left')" class="relative md:ms-5 ms-2 flex">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="size-7 dark:text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                @await Component.InvokeAsync("CartItemCount")
                            </div>
                            <!-- dark mode -->
                            <div class="md:ms-5 ms-2">
                                <button id="dark-mode-toggle">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:size-8 size-6 dark:block hidden dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:size-8 size-6 dark:hidden block dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="lg:inline-block hidden me-3 h-10 w-px self-stretch bg-neutral-200 dark:bg-white"></div>
                            <!-- login -->

                            <a href="/Login" class="bg-white dark:bg-background-dark dark:text-white text-dark flex lg:py-2 lg:px-3 lg:border lg:border-gray-400  rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="lg:size-6 lg:ml-2 size-7">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                                <span class="lg:inline-block hidden">ورود  / ثبت نام</span>
                            </a>
                        }
                        else
                        {
                            <div class="lg:inline-block hidden me-3 h-10 w-px self-stretch bg-neutral-200 dark:bg-white"></div>
                            <!-- login -->
                            @if (User.IsInRole("Seller"))
                            {
                                <a href="/seller-panel" class="bg-white dark:bg-background-dark dark:text-white text-dark flex lg:py-2 lg:px-3 lg:border lg:border-gray-400  rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" class="lg:size-6 lg:ml-2 size-7">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    </svg>
                                    <span class="lg:inline-block hidden">پنل فروشنده</span>
                                </a>
                            }
                            else{
                                <a href="/user-panel" class="bg-white dark:bg-background-dark dark:text-white text-dark flex lg:py-2 lg:px-3 lg:border lg:border-gray-400  rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" class="lg:size-6 lg:ml-2 size-7">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    </svg>
                                    <span class="lg:inline-block hidden">پنل کاربری</span>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- mega menu -->
            <div id="megaMenu" class="xl:grid hidden relative grid-cols-12 place-items-center">
                <div class="col-span-10 place-self-start">
                    <nav class="flex gap-x-9 mt-10 items-center">
                        <!-- menu -->
                        <ul class="flex dark:text-white items-center space-x-8 tracking-tight">
                            <li id="mega-menu-fire" class="py-2">
                                <a href="" class="flex font-bold hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                    </svg>
                                    فروشگاه
                                </a>
                                <div id="mega-menu-fire-target" class="bg-white dark:bg-background-dark container z-50 hidden top-[90%] drop-shadow-sm absolute mt-1 ml-10 shadow-md rounded-b-md">
                                    @await Component.InvokeAsync("Menu")
                                </div>
                            </li>
                            <li class="py-2">
                                <a href="" class="flex space-x-3 hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    <span>صفحه اصلی</span>
                                </a>
                            </li>
                            <li class="py-2">
                                <a href="/Categories" class="flex space-x-3 hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                                    </svg>
                                    <span>لیست کالا ها</span>
                                </a>
                            </li>
                            <li class="py-2">
                                <a href="" class="flex space-x-3 hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                                    </svg>
                                    <span>پیگیری سفارش</span>
                                </a>
                            </li>
                            <li class="py-2">
                                <a href="" class="flex space-x-3 hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z" />
                                    </svg>
                                    <span>بلاگ</span>
                                </a>
                            </li>
                            <li class="py-2">
                                <a href="" class="flex space-x-3 hover:text-primary transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                                    </svg>
                                    <span>تماس با ما</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ================= end header ================= -->
    <!-- ================= start content section ================= -->
         <section class="py-5">
        <div class="container">
            <!-- breadcrumb -->
            <nav class="flex mt-2 mb-6" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse" itemscope
                    itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="/"
                           class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
                           itemprop="item">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor" viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            <span itemprop="name">خانه</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="m1 9 4-4-4-4" />
                            </svg>
                            <a href="/shop"
                               class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
                               itemprop="item">
                                <span itemprop="name">فروشگاه</span>
                            </a>
                        </div>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400" itemprop="name">
                                گوشی موبایل اپل مدل iPhone 13 Pro Max دو سیم کارت
                            </span>
                        </div>
                        <meta itemprop="position" content="3">
                    </li>
                </ol>
            </nav>
        </div>
    </section> 

    @RenderBody()
    <!-- ================= end content section ================= -->
    <!-- ================= start footer section ================= -->
    <section class="py-5 dark:text-white dark:bg-background-dark bg-white drop-shadow-md border-t border-gray-200" itemscope itemtype="http://schema.org/WPFooter">
        <div class="container">
            <!-- Logo and Back to Top -->
            <div class="grid gap-4 grid-cols-4 place-items-center" itemscope itemtype="http://schema.org/Organization">
                <div class="sm:col-span-3 col-span-2 w-full">
                    <a href="/" itemprop="url">
                        <figure itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <img src="~/images/logo/tishin.png" class="h-12" alt="لوگوی فروشگاه تی شین" itemprop="contentUrl">
                            <meta itemprop="caption" content="لوگوی رسمی فروشگاه تی شین">
                        </figure>
                    </a>
                </div>
                <div class="sm:col-span-1 col-span-2 w-full">
                    <div class="text-left">
                        <a href="#top" class="inline-flex border px-4 py-1.5 item-center justify-between rounded-lg" aria-label="بازگشت به بالای صفحه">
                            <span>بازگشت بالا</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 ms-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Contact Information -->
            <div class="flex my-10 items-start flex-wrap space-y-4 space-x-4 divide-x-2  sm:divide-neutral-600 divide-transparent" itemscope itemtype="http://schema.org/ContactPoint">
                <div class="space-x-3 pl-2" itemprop="contactOption" itemscope itemtype="http://schema.org/ContactPoint">
                    <span class="inline-block">شماره تماس:</span>
                    <span class="inline-block" itemprop="telephone">تیکت بزنید</span>
                </div>
                <div class="space-x-3 pl-2" itemprop="contactOption" itemscope itemtype="http://schema.org/ContactPoint">
                    <span class="inline-block">آدرس ایمیل:</span>
                    <a href="mailto:site@gmail.com" class="inline-block" itemprop="email">info@ti-shin.ir</a>
                </div>
                <div class="space-x-3 pl-2">
                    <meta itemprop="hoursAvailable" content="Mo-Su,00:00-23:59">
                    <span class="inline-block">هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                </div>
            </div>
            <!-- Menu Columns -->
            <div class="grid gap-4 grid-cols-4 place-items-start">
                @*                 <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg mb-5" aria-label="راهنمای خرید">راهنمای خرید</h4>
                    <ul class="space-y-4 mt-1" role="menu">
                        <li role="menuitem"><a href="/order-guide" itemprop="significantLink">نحوه ثبت سفارش</a></li>
                        <li role="menuitem"><a href="/shipping-policy" itemprop="significantLink">رویه ارسال سفارش</a></li>
                        <li role="menuitem"><a href="/payment-methods" itemprop="significantLink">شیوه های پرداخت</a></li>
                        <li role="menuitem"><a href="/return-policy" itemprop="significantLink">رویه های بازگرداندن کالا</a></li>
                    </ul>
                </div> *@
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg mb-5" aria-label="سیاست‌های فروشگاه">فروشگاه</h4>
                    <ul class="space-y-4 mt-1" role="menu">
                        <li role="menuitem"><a href="/Privacy" itemprop="significantLink">حریم خصوصی</a></li>
                        <li role="menuitem"><a href="/Terms" itemprop="significantLink">شرایط استفاده</a></li>
                        <li role="menuitem"><a href="/Faq" itemprop="significantLink">پاسخ به پرسش های متداول</a></li>
                    </ul>
                </div>
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg mb-5" aria-label="شبکه‌های اجتماعی">رسانه های خبری ما</h4>
                    <ul class="flex items-center space-x-4" role="list">
                        <li role="listitem"><a href="rubika-link" itemprop="sameAs"><img src="~/images/social/rubika.png" alt="ربیکا" class="size-7"></a></li>
                        <li role="listitem"><a href="aparat-link" itemprop="sameAs"><img src="~/images/social/aparat.png" alt="آپارات" class="size-7"></a></li>
                        <li role="listitem"><a href="bale-link" itemprop="sameAs"><img src="~/images/social/bale.png" alt="بله" class="size-7"></a></li>
                        <li role="listitem"><a href="eitta-link" itemprop="sameAs"><img src="~/images/social/eitta.png" alt="ایتا" class="size-7"></a></li>
                        <li role="listitem"><a href="igap-link" itemprop="sameAs"><img src="~/images/social/igap.png" alt="ایگپ" class="size-7"></a></li>
                        <li role="listitem"><a href="sorush-link" itemprop="sameAs"><img src="~/images/social/sorush.png" alt="سروش" class="size-7"></a></li>
                    </ul>
                    <h4 class="font-bold text-lg my-5" aria-label="عضویت در خبرنامه">عضویت در خبرنامه</h4>
                    <form action="/newsletter" method="POST" itemprop="potentialAction" itemscope itemtype="http://schema.org/SubscribeAction">
                        <meta itemprop="target" content="/newsletter-subscribe">
                        <div class="flex items-center">
                            <input type="tel" name="mobile" inputmode="numeric" pattern="[0-9]*"
                                   class="w-full dark:bg-zinc-700 focus:ring-primary direction outline-0 focus:border-primary border-2 border-transparent rounded-xl bg-gray-200 border-gray-300 py-4 px-3 dir-rtl"
                                   placeholder="شماره موبایل خود را وارد کنید"
                                   itemprop="query-input">
                            <button type="submit" class="bg-primary-grad mr-2 py-4 px-6 text-white rounded-xl" aria-label="ثبت شماره موبایل">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Application Download -->
            <div class="grid gap-4 bg-primary-grad no-hover px-4 py-5 rounded-xl mt-5 grid-cols-4 place-items-center">
                <div class="lg:col-span-1 col-span-4 w-full">
                    <h4 class="font-bold text-xl text-white">دانلود اپلیکیشن فروشگاهی تـی شیـن</h4>
                </div>
                <div class="lg:col-span-3 col-span-4 w-full">
                    <ul class="flex items-center justify-end space-x-3">
                        <li>
                            <a href="play-store-link" itemprop="downloadUrl" itemscope itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="applicationCategory" content="BusinessApplication">
                                <img src="~/images/application/google-play-app.svg" alt="دانلود از گوگل پلی" class="h-12">
                            </a>
                        </li>
                        <li>
                            <a href="sibapp-link" itemprop="downloadUrl" itemscope itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="operatingSystem" content="Android">
                                <img src="~/images/application/app-sibapp.svg" alt="دانلود از سیب‌اپ" class="h-12">
                            </a>
                        </li>
                        <li>
                            <a href="bazar-link" itemprop="downloadUrl" itemscope itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="operatingSystem" content="Android">
                                <img src="~/images/application/bazar-app.svg" alt="دانلود از بازار" class="h-12">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Description & Trust Seals -->
            <div class="grid gap-4 grid-cols-4 mt-10">
                <div class="lg:col-span-3 col-span-4" itemprop="description">
                    <h5 class="font-bold mb-5">فروشگاه اینترنتی تی‌شین، تجربه‌ای متفاوت در انتخاب و خرید لباس زیر زنانه</h5>
                    <p class="text-neutral-600 dark:text-white leading-9">
                        تی‌شین به عنوان یک فروشگاه تخصصی در حوزه لباس زیر زنانه، با تمرکز بر زیبایی، راحتی و کیفیت، تلاش می‌کند تجربه‌ای امن، دل‌نشین و حرفه‌ای از خرید آنلاین را برای بانوان فراهم کند..
                    </p>
                    <p class="text-neutral-600 dark:text-white leading-9">
                        با پایبندی به اصولی چون ارسال سریع، ۷ روز ضمانت بازگشت و تضمین اصالت کالا، تی‌شین همراه مطمئن بانوانی است که به استایل و راحتی خود اهمیت می‌دهند.
                    </p>
                </div>
                <div class="lg:col-span-1 col-span-4">
                    <ul class="flex lg:justify-end justify-center items-center space-x-4">
                        <li class="border border-gray-300 p-3 rounded-xl">
                            <a href="/trust-seals" itemscope itemtype="https://schema.org/ImageObject">
                                <img src="~/images/namad/namad-01.png" class="h-25" alt="نماد اعتماد الکترونیک" itemprop="contentUrl">
                                <meta itemprop="caption" content="نماد رسمی اعتماد الکترونیک">
                            </a>
                        </li>
                        <li class="border border-gray-300 p-3 rounded-xl">
                            <a href="/enamad-verify" itemscope itemtype="https://schema.org/ImageObject">
                                <img src="~/images/namad/enamad.png" class="h-25" alt="اینماد" itemprop="contentUrl">
                                <meta itemprop="license" content="https://enamad.ir">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Copyright -->
            <div class="grid gap-4 grid-cols-4 mt-10">
                <div class="lg:col-span-3 col-span-4">
                    <p class="text-neutral-500 dark:text-white leading-9" itemprop="copyrightNotice">
                        <span itemprop="copyrightYear">2024-2025</span> کلیه حقوق این سایت متعلق به
                        <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">تی شیــن</span>
                        </span> می‌باشد.
                    </p>
                </div>
                <div class="lg:col-span-1 col-span-4">
                    @* <p class="text-neutral-500 dark:text-white sm:text-end text-center leading-9">
                        طراحی و توسعه توسط
                        <a href="https://amir-rezaie.ir" itemprop="author">امیررضایی</a>
                    </p> *@
                </div>
            </div>
        </div>
    </section>
    <!-- ================= end footer section ================= -->
    <!-- ================= start cart offcanvas ================= -->
    <!-- Offcanvas Cart -->
    @await Component.InvokeAsync("Cart")
    <!-- Overlay -->
    <div class="overlay transition fixed inset-0 z-40 bg-black/70 hidden"
         onclick="closeOffcanvas()"
         role="presentation"
         aria-hidden="true"></div>
    <!-- ================= end cart offcanvas ================= -->
    <!-- ================= start filter modal ================= -->
    <div id="filterModal"
         role="dialog"
         aria-modal="true"
         aria-labelledby="filterModalTitle"
         data-modal-id="filterModal"
         class="modal hidden fixed inset-0 z-50 overflow-auto backdrop-blur bg-opacity-50">
        <div class="relative p-4 w-full max-w-md m-auto flex items-center min-h-screen">
            <div class="relative dark:bg-background-dark border-gray-300 border bg-white rounded-lg shadow-lg w-full"
                 itemscope
                 itemtype="http://schema.org/Place">
                <!-- Header -->
                <div class="flex justify-between items-center p-4 dark:border-b-white border-b">
                    <h3 id="filterModalTitle" class="text-xl  dark:text-white" itemprop="name">فیلتر بر اساس شهر</h3>
                    <button data-modal-close
                            class="text-gray-500 hover:text-gray-700 cursor-pointer text-3xl"
                            aria-label="بستن پنجره فیلتر">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <!-- Content -->
                <div class="p-4">
                    <!-- Cities Data -->
                    <meta itemprop="address"
                          content="تهران,مشهد,اصفهان,تبریز,شیراز,اهواز,قم,کرج,کرمانشاه,ارومیه,زاهدان,رشت,همدان,یزد,اردبیل,بندرعباس,کیش,ساری,گرگان,بجنورد">
                    <div id="citySelector"
                         data-cities="تهران,مشهد,اصفهان,تبریز,شیراز,اهواز,قم,کرج,کرمانشاه,ارومیه,زاهدان,رشت,همدان,یزد,اردبیل,بندرعباس,کیش,ساری,گرگان,بجنورد"></div>
                    <!-- Search Form -->
                    <form id="searchForm" class="mb-2" role="search">
                        <label for="search" class="mb-2 block text-sm font-medium dark:text-white text-gray-900">
                            جستجوی شهر
                        </label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500"
                                     aria-hidden="true"
                                     focusable="false"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 20">
                                    <path stroke="currentColor"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="2"
                                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="search"
                                   id="search"
                                   class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary focus:border-primary dark:bg-background-dark dark:text-white"
                                   placeholder="نام شهر را وارد کنید"
                                   aria-describedby="searchDescription"
                                   required>
                        </div>
                        <p id="searchDescription" class="sr-only">برای جستجو در بین شهرهای موجود تایپ کنید</p>
                    </form>
                    <!-- Selected Cities -->
                    <div id="selectedCities"
                         class="flex my-3 flex-wrap gap-2"
                         role="status"
                         aria-live="polite"></div>
                    <!-- Cities List -->
                    <ul id="cityList"
                        class="w-full h-80 overflow-y-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                        role="listbox"
                        aria-labelledby="filterModalTitle">
                        <template id="cityTemplate">
                            <li role="option"
                                class="p-3 border-b cursor-pointer hover:bg-gray-100"
                                tabindex="0"
                                itemprop="containsPlace"
                                itemscope
                                itemtype="http://schema.org/City">
                                <span itemprop="name"></span>
                            </li>
                        </template>
                    </ul>
                    <!-- Filter Button -->
                    <div class="mt-4">
                        <button id="filterButton"
                                class="w-full px-4 py-3 cursor-pointer bg-primary text-white rounded-lg hover:bg-primary-600 transition-colors"
                                aria-label="اعمال فیلتر بر اساس شهرهای انتخاب شده">
                            فیلتر کن
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= end filter modal ================= -->
    <!-- ================= start responsive menu offcanvas ================= -->
    <div id="offcanvas-right"
         class="offcanvas invisible overflow-y-scroll fixed top-0 right-0 sm:w-100 w-[80%] h-full bg-white dark:bg-background-dark shadow-lg transform -translate-x-full transition-transform opacity-0 z-50"
         role="navigation"
         aria-labelledby="store-menu-title"
         aria-modal="true">
        <div class="border-b p-3 flex items-center justify-between border-gray-400">
            <h2 id="store-menu-title" class="font-bold text-base dark:text-white">فروشگاه تی شین</h2>
            <button onclick="closeOffcanvas()"
                    class="cursor-pointer"
                    aria-label="بستن منوی فروشگاه">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-8 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <nav class="relative space-y-4 divide-y divide-gray-200 p-3 overflow-y-scroll h-full" style="padding-left: 0!important;" aria-label="منوی اصلی">
            <ul class="space-y-2 text-sm">
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <a href="/" class="block" itemprop="url">صفحه اصلی</a>
                </li>
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <button class="flex justify-between w-full text-right"
                            aria-expanded="false"
                            aria-controls="menu1"
                            id="menu1-button"
                            onclick="toggleDropdown('menu1')">
                        <span itemprop="name">گوشی موبایل</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5 transition-transform transform"
                             id="icon-menu1"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                    <ul id="menu1"
                        class="hidden bg-gray-200 dark:bg-background-dark dark:text-white"
                        role="menu"
                        aria-labelledby="menu1-button">
                        <li class="border-b border-gray-300" itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <button class="flex justify-between w-full px-6 py-2 text-right"
                                    aria-expanded="false"
                                    aria-controls="submenu1"
                                    id="submenu1-button"
                                    onclick="toggleDropdown('submenu1')">
                                <span itemprop="name">برند</span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-5 transition-transform transform"
                                     id="icon-submenu1"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                          clip-rule="evenodd" />
                                </svg>
                            </button>
                            <ul id="submenu1"
                                class="hidden bg-gray-100 dark:bg-zinc-500 dark:text-gray-200"
                                role="menu"
                                aria-labelledby="submenu1-button"
                                itemscope
                                itemtype="http://schema.org/Brand">
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">سامسونگ</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">اپل</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">شیائومی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">هواوی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">نوکیا</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">ال جی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">سونی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">گوگل</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">وان پلاس</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">موتورولا</li>
                            </ul>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/flagship" class="block" itemprop="name">پرچمدار</a>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/mid-range" class="block" itemprop="name">میان رده</a>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/budget" class="block" itemprop="name">اقتصادی</a>
                        </li>
                    </ul>
                </li>
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <a href="/pages" class="block" itemprop="url">صفحات</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="overlay z-40 transition fixed inset-0 bg-black/70 hidden"
         onclick="closeOffcanvas()"
         role="presentation"
         aria-hidden="true"></div>
    <!-- ================= end responsive menu offcanvas ================= -->
    <!-- ================= start nav mobile menu ================= -->
    <nav class="fixed shadow-xl border-t-zinc-300 dark:border-0 bottom-0 z-20 lg:hidden left-0 right-0 dark:bg-background-dark dark:text-white bg-white border-t border-gray-200">
        <div class="flex justify-around items-center flex-row-reverse py-3 px-4">
            <!-- Home -->
            <a href="/" class="flex flex-col items-center text-primary space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-primary">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <span class="text-xs font-bold">خانه</span>
            </a>
            <!-- cart -->
            <a href="CheckOut" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <span class="text-xs dark:text-white">سبد خرید</span>
            </a>
            <!-- Profile -->
            <a href="/Panel" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span class="text-xs dark:text-white">پنل کاربری</span>
            </a>
            <!-- Top -->
            <a href="#" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>
                <span class="text-xs dark:text-white">رفتن به بالا</span>
            </a>
        </div>
    </nav>
    <!-- ================= end nav mobile menu ================= -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/js/plugin/story-player/story-player.js"></script>
    <script src="~/js/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/dependencies/swiper-script.js"></script>
    <script src="~/js/dependencies/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "3000"
        };
    </script>
    <script>
        $(document).on("click", ".remove-item", function () {
            const itemId = $(this).data("id");
            const $itemElement = $(this).closest(".py-3"); // کل آیتم برای حذف بصری

            $.ajax({
                url: `/api/RemoveCartItem?id=${itemId}`,
                type: "GET",
                success: function (response) {
                    // حذف آیتم از DOM
                    $itemElement.remove();

                    toastr.success("محصول از سبد خرید حذف شد");

                    // در صورت نیاز: بروزرسانی تعداد یا جمع کل
                    const cartCounter = document.getElementById("cartCounter");
                    let currentCount = parseInt(cartCounter.textContent.trim()) || 0;
                    cartCounter.textContent = currentCount > 0 ? currentCount - 1 : 0;

                    // اگر سبد خالی شد
                    if ($("#offcanvas-left main").find(".py-3").length === 0) {
                        $("#offcanvas-left main").html('<p class="text-center text-gray-500">سبد خرید شما خالی است.</p>');
                        $("footer").hide(); // اگر خواستی، فوتر را مخفی کن
                    }
                },
                error: function () {
                    toastr.error("خطا در حذف محصول از سبد خرید");
                }
            });
        });
    </script>
</body>
</html>
