@page
@model TiShinShop.Pages.SellerPanel.IndexModel
@{
    Layout = "_SellerPanelLayout";
    ViewData["Title"] = "پیشخوان فروشنده";
}

<div class="bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 border border-gray-200 dark:border-gray-700">
    <h2 class="font-bold dark:text-white">صفحه خالی مناسب توسعه سریع</h2>
    <p class="text-sm text-gray-600 dark:text-gray-300 mt-2">این صفحه به‌صورت خالی برای توسعه امکانات پنل فروشنده آماده شده است.</p>
</div>