@page
@model TiShinShop.Pages.UserPanel.IndexModel
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "پیشخوان کاربر";
}

<div class="bg-white p-5 dark:bg-card-dark rounded-lg border-gray-300 shadow-soft dark:shadow-soft-dark overflow-hidden mb-6 border dark:border-gray-700">
    <h2 class="font-bold">صفحه خالی مناسب توسعه سریع</h2>
    <p class="text-sm text-gray-600 dark:text-gray-300 mt-2">این صفحه به‌صورت خالی برای توسعه امکانات پنل کاربر آماده شده است.</p>
</div>